:root{
    --text-color: #ffffff;
    --link-color: #4a76ee;
    --background-color: #000000
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body { 
    font-family:'Poppins', sans-serif ;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6, p, span {
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    align-items: center;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child{
    color: black;
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a:last-child i,
nav .right a:last-child span {
    color: black;
}

nav .right a span{
    margin-left: 5px;
    
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px ;
    margin: 50px 0;
    margin-bottom: 50px;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2{
    font-size: 45px;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color) ;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition:0.1s;
}

.hero-section .text .links a:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .github-stats {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .github-stats img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.hero-section .hero-image {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 340px;
}

.hero-section .hero-image .profile-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center 33%;
    border-radius: 35%;
    border: 3px solid #fff;
    box-shadow: 0 4px 20px rgba(74, 118, 238, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #222;
    margin-top: 20px;
}

.hero-section .hero-image .profile-image:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 25px rgba(74, 118, 238, 0.3);
}

.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2{
    text-align: center;
    font-size: 35px;
}

.skills-section .text{
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px ;

    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 0px solid #333333;
    border-radius: 5px;
    transition: 0.2s;
}

.skills-section .cells .cell img {
    width: 48px;
    height: 48px;        
    object-fit: contain; 
    border-radius: 2px;
}

.skills-section .cells .cell span {
    font-size: 18px;
}

.skills-section .cells .cell:hover{
    border-color: #666666;
    transform: scale(1.1);
}

.projects-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.projects-section h2 {
    text-align: center;
    font-size: 35px;
}

.projects-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-section .cells .cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    width: 750px;
    padding: 20px;
    margin: 10px;
    border: 1.5px solid #333333;
    border-radius: 20px;
    transition: 0.2s;
}

.projects-section .cells .cell span{
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
}

.projects-section .text {
    text-align: center;
}

.projects-section .cells img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.about-me-section {
    padding: 60px 50px;
    border-radius: 12px;
    margin: 0 auto;
    box-shadow: 0 4px 10px;
}

.about-me-section h2{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
}

.about-me-section p{
    margin-bottom: 20px;
}

@media (max-width: 850px){
    .hero-section .text h2 {
        font-size: 35px;
    }

    .about-me-section {
        padding: 40px 20px;
    }
}

@media (max-width: 740px){
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-section .headshot img{
        width: 300px;
    }
}

@media (max-width: 600px){
    nav {
        padding: 0 20px
    }

    nav .right a {
        font-size: 22px;
    } 

    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    nav .right a span{
        display: none;
    }

    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text h2{ 
        font-size: 30px;    
    }

    .skills-section{
        padding: 0 20px;
    }

    .skills-section .cells .cell span{
        font-size: 16px;
    }
}

@media print {
    body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }
    
    .about-me-section,
    .skills-section,
    .projects-section {
        page-break-inside: avoid; 
    }
    
@page {
    size: A4;         
    margin: 0;
    }
}